<footer style="margin-top: 100px;" class="bg-dark text-center text-lg-start fixed-bottom ">
    <div class="footer-copyright text-center py-2 text-white bg-dark">© 2021 Copyright:
        <a href="https://www.linkedin.com/notifications/"> Piyush.Lawatre</a>
    </div>
</footer>